@using Arenda.Models
@model IEnumerable<Arenda.Models.Arendator>
@{
    ViewBag.Title = "Список арендаторов";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="button-item">
        <a asp-controller="Home" asp-action="AddArendator" class="btn">Добавление нового арендатора</a>
        <a asp-controller="Home" asp-action="DeleteArendator" class="btn">Удаление арендатора</a>
    </div>
    <h1>Список арендаторов</h1>
    <div class="container">
        <div class="dropdown">
            <a class="btn" href="#">0 этаж</a>
            <div class="dropdown-content">
                @foreach (var item in Model)
                {@if ((item.ArendatorFloor is 0) && (item.ArendatorType is "Обычный"))
                    {
                        <a asp-controller="Information" asp-action="Info" asp-route-id="@item.ArendatorId" class="btn">@item.ArendatorName</a>}}
            </div>
        </div>
        <div class="dropdown">
            <a class="btn" href="#">1 этаж</a>
            <div class="dropdown-content">
                @foreach (var item in Model)
                {@if ((item.ArendatorFloor is 1) && (item.ArendatorType is "Обычный"))
                    {
                        <a asp-controller="Information" asp-action="Info" asp-route-id="@item.ArendatorId" class="btn">@item.ArendatorName</a>}}
            </div>
        </div>
        <div class="dropdown">
            <a class="btn" href="#">2 этаж</a>
            <div class="dropdown-content">
                @foreach (var item in Model)
                {@if ((item.ArendatorFloor is 2) && (item.ArendatorType is "Обычный"))
                    {
                        <a asp-controller="Information" asp-action="Info" asp-route-id="@item.ArendatorId" class="btn">@item.ArendatorName</a>}}
            </div>
        </div>
        <div class="dropdown">
            <a class="btn" href="#">3 этаж</a>
            <div class="dropdown-content">
                @foreach (var item in Model)
                {@if ((item.ArendatorFloor is 3) && (item.ArendatorType is "Обычный"))
                    {
                        <a asp-controller="Information" asp-action="Info" asp-route-id="@item.ArendatorId" class="btn">@item.ArendatorName</a>}}
            </div>
        </div>
        <div class="dropdown">
            <a class="btn" href="#">4 этаж</a>
            <div class="dropdown-content">
                @foreach (var item in Model)
                {@if ((item.ArendatorFloor is 4) && (item.ArendatorType is "Обычный"))
                    {
                        <a asp-controller="Information" asp-action="Info" asp-route-id="@item.ArendatorId" class="btn">@item.ArendatorName</a>}}
            </div>
        </div>
        <div class="dropdown">
            <a class="btn" href="#">5 этаж</a>
            <div class="dropdown-content">
                @foreach (var item in Model)
                {@if ((item.ArendatorFloor is 5) && (item.ArendatorType is "Обычный"))
                    {
                        <a asp-controller="Information" asp-action="Info" asp-route-id="@item.ArendatorId" class="btn">@item.ArendatorName</a>}}
            </div>
        </div>
        <div class="dropdown">
            <a class="btn" href="#">6 этаж</a>
            <div class="dropdown-content">
                @foreach (var item in Model)
                {@if ((item.ArendatorFloor is 6) && (item.ArendatorType is "Обычный"))
                    {
                        <a asp-controller="Information" asp-action="Info" asp-route-id="@item.ArendatorId" class="btn">@item.ArendatorName</a>}}
            </div>
        </div>
    </div>
</body>