@model Arenda.Models.Arendator
@{ ViewBag.Title = Model.ArendatorName; }
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="button-item">
        <a asp-controller="Information" asp-action="NewInfo" class="btn" asp-route-id="@Model.ArendatorId">Добавить(Редактировать) данные</a>
        <a asp-controller="Information" asp-action="Dogovor" asp-route-id="@Model.ArendatorId" class="btn">Информация о договоре</a>
        <a asp-controller="Information" asp-action="ContractWord" asp-route-id="@Model.ArendatorId" class="btn">Договоры Word</a>
        <a asp-controller="Information" asp-action="ContractPDF" asp-route-id="@Model.ArendatorId" class="btn">Договоры PDF</a>
        <a asp-controller="Information" asp-action="Excel" class="btn">Экспорт данных</a>
    </div>
    <h1>@Model.ArendatorName</h1>
<div class="container">
    <div>
        <table id="table" class="content-table">
            <tr><td>Юридическое лицо</td><td>@Model.GeneralDirector</td>
            <tr><td>Ген. директор</td><td>@Model.LegalPerson</td></tr>
            <tr><td>Номер договора</td><td>@Model.NumberContract</td></tr>
            <tr><td>Дата договора</td><td>@Model.DateContract</td></tr>
            <tr><td>Юр. Адрес</td><td>@Model.AdressLegal</td></tr>
            <tr><td>Факт. Адрес</td><td>@Model.AdressFact</td></tr>
            <tr><td>Акт допуска</td><td>@Model.AllowAct</td></tr>
            <tr><td>Акт приема передачи</td><td>@Model.StartAct</td></tr>
            <tr><td>E-mail</td><td>@Model.Email</td></tr>
            <tr><td>Комментарий:</td><td></td></tr>
            @if (ViewBag.Comment != null)
            {
        @foreach (Comment comment in ViewBag.Comment)
        {
        @if ((comment.CommentFk == Model.ArendatorId))
        {
        <tr><td>@comment.CommentName</td></tr>
}}}
            <form asp-actsion="AddComment" asp-controller="Information" asp-route-id="@Model.ArendatorId">
                <tr><td><input type='text' name='commentName'><input type="button" class="btn" value="+" onClick='addrow();'></td></tr>
                <tr><td><input type="submit" value="Сохранить" class="btn" /></td></tr>
            </form>
        </table>
        <h4>Изображение</h4>
        <form asp-controller="Information" asp-action="UploadImage" asp-route-id="@Model.ArendatorId"
              enctype="multipart/form-data" method="post">
            <input type="file" name="Logo" />
            <button type="submit" class="btn">Загрузить изображение</button>
        </form>
    </div>
    <div>
            @if (ViewBag.Contact != null)
            {
    @foreach (Contact contact in ViewBag.Contact)
    {
    @if ((contact.ContactFk == Model.ArendatorId))
    {
    <table class="content-table1" id="table1">
        <tr><td>ФИО</td><td>@contact.ContactName</td></tr>
        <tr><td>Телефон</td><td>@contact.ContactTel</td></tr>
        <tr><td>Е-mail</td><td>@contact.ContactEmail</td></tr>
        <tr><td>Комментарий</td><td>@contact.ContactComment</td></tr>
    </table>}}}
            <form asp-action="AddTable" asp-controller="Information" asp-route-id="@Model.ArendatorId">
                <table class="content-table1" id="table1">
                    <tr><td>ФИО</td><td><input type='text' name='name'></tr>
                    <tr><td>Телефон</td><td><input type='text' name='tel'></tr>
                    <tr><td>Е-mail</td><td><input type='text' name='email'></tr>
                    <tr><td>Комментарий</td><td><input type='text' name='comment'></td></tr>
                </table>
                <input type="button" class="btn" value="+" onClick='addrow1();'>
                <input type="submit" value="Сохранить" class="btn" />
            </form>
        </div>
    <div>
        @if (Model.Logo != null)
        {
    <img style='width:300px; height:200px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Logo))" />}
    </div>
    </div>
</body>
<script src="/js/site.js"></script>
<script src="/js/Contact.js"></script>

