@model Arenda.Models.Arendator
@{ ViewBag.Title = "Специальные условия"; }
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="button-item">
        <a asp-controller="Information" asp-action="NewCondition" asp-route-id="@Model.ArendatorId" class="btn">Добавить скидки</a>
    </div>
    <table class="content-table">
        <tbody>
            <tr><td>Скидки</td><td>@Model.Sale</td></tr>
            <tr><td>Бесплатная реклама</td><td>@Model.Advertising</td></tr>
            <tr><td>Спец. условия по парковке</td><td>@Model.ParkingCondition</td></tr>
            <tr><td>Спец. условия по платежам</td><td>@Model.PayCondition</td></tr>
        </tbody>
    </table>
</body>
